appname = clean-architecture-beego
httpport = 8080
hostRpc= 127.0.0.1
portRpc= 9090
runmode = dev
autorender = false
copyrequestbody = true
EnableDocs = true
dbConnUrl = ""

dbdebug = true
sqlservermaxopenconn = 25
sqlservermaxidleconn = 25
sqlservermaxlifetimeconn = 300

